# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/
notebooks/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/
*.txt
*.log

# Distribution
dist/

# Jupyter Notebook
.ipynb_checkpoints

# DS_Store
.DS_Store
*.models
*.pt
/wandb

/checkpoints
*.model

.benchmarks

.venv/
logs/

